{% extends "DepoBundle::layout.html.twig" %}

{% block body -%}
    <div class="container">
        <h1>Lista de Pedidos</h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Cliente</th>
                    <th>Realizado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{entity.cliente}}</td>
                    <td>
                        {% if entity.realizado %}
                            <span class="glyphicon glyphicon-ok"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-remove"></span>
                        {% endif %}
                    </td>
                    <td>
                    <ul>
                        <li>
                            <a href="{{ path('pedido_show', { 'id': entity.id }) }}">Ver</a>
                        </li>                        
                    </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

            <ul class="record_actions">
            <li>
                <span class="glyphicon glyphicon-plus-sign"></span>
                <a href="{{ path('pedido_new') }}">
                    Crear nuevo pedido
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
