{% extends "DepoBundle::layout.html.twig" %}

{% block body -%}
    <div class="container">
        <h1>Lista de Pedidos</h1>

        <br />
        <span class="glyphicon glyphicon-plus-sign"></span><a href="{{ path('pedido_new') }}"> Crear nuevo Pedido</a>
        
        <br><br>
        {{ datatable_render(datatable) }}
            
    </div>
{% endblock %}
