{% extends "DepoBundle::layout.html.twig" %}

{% block body -%}
    <div class="container">
        <h1>Clientes</h1>
        <br />
        <span class="glyphicon glyphicon-plus-sign"></span><a href="{{ path('cliente_new') }}"> Crear nuevo Cliente</a>
        
        <br><br>
        {{ datatable_render(datatable) }}

        
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ datatable_render_js(datatable) }}
{% endblock %}