{% extends "DepoBundle::layout.html.twig" %}

{% block body -%}
    <div class="container">
    <h1>Cuenta Corrientes</h1>

    <br />
        <br><br>
        {{ datatable_render(datatable) }}
    </div>    
    {% endblock %}
