{% extends "DepoBundle::layout.html.twig" %}

{% block body -%}
    <div class="container">
        <h1>Lista de Productos</h1>

        <br />
        <span class="glyphicon glyphicon-plus-sign"></span><a href="{{ path('producto_new') }}"> Crear nuevo Producto</a>
        
        <br><br>
        {{ datatable_render(datatable) }}
            
    </div>
{% endblock %}
