{% extends "DepoBundle::layout.html.twig" %}

{% block body -%}
    <div class="container">
        <h1>Creacion del Producto</h1>

        {{ form(form) }}

        <ul class="record_actions">
            <li>
                <span class="glyphicon glyphicon-chevron-left"></span>
                <a href="{{ path('producto') }}">
                    Volver a la lista
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
