.record_actions{
    list-style-type: none;
}

.record_actions li{
    padding-top: 10px;
}

.wrapper a {
    margin: 2px;
}

.productos .form-group {
    float: left;
    margin-right: 20px;
}

.productos {
    display: block;
    width: 100%;
}

.form-producto {
    height: 83px;
    width: 100%;
}

.form-producto .btn.btn-danger {
    margin-top: 25px;
}

    
@media screen and (min-width: 767px) {
    .stock-botones ul li {
        display: inline;
        font-size: 100%;
        
    }
}

.stock-botones ul {
        list-style-type: none;        
        text-align: left;
        font-size: 70%;
}