.record_actions{
    list-style-type: none;
}

.record_actions li{
    padding-top: 10px;
}

.wrapper a {
    margin: 2px;
}

.productos .form-group {
    float: left;
    margin-right: 20px;
}

.productos {
    display: block;
    width: 100%;
}

.form-producto {
    height: 83px;
    width: 100%;
}

.form-producto .form-group{
    width: 25%;
}

.form-producto .btn.btn-danger {
    margin-top: 25px;
    margin-right: 0px;
}

    
@media screen and (min-width: 767px) {
    .stock-botones ul li {
        display: inline;
        text-align: right;
        //font-size: 70%;
    }
}

@media screen and (max-width: 766px) {
    .stock-botones ul { 
        text-align: left;
    }
}


.stock-botones ul {
        list-style-type: none;                
}