{% extends "DepoBundle::layout.html.twig" %}

{% block body -%}
    <div class="container">
        <h1>Transportes</h1>

        <br />
        <span class="glyphicon glyphicon-plus-sign"></span><a href="{{ path('transporte_new') }}"> Crear nuevo Transporte</a>
        
        <br><br>
        {{ datatable_render(datatable) }}
            
        </div>
    {% endblock %}
